<div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                <div class="main-categori-wrap d-none d-lg-block">
                    <a class="categori-button-active" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-large">
                        <ul>
                            <li class="has-children">
                                <a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                <div class="dropdown-menu">
                                    <ul class="mega-menu d-lg-flex">
                                        <li class="mega-menu-col col-lg-7">
                                            <ul class="d-lg-flex">
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Hot & Trending</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Dresses</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Blouses & Shirts</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Hoodies & Sweatshirts</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Women's Sets</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Suits & Blazers</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Bodysuits</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Tanks & Camis</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Coats & Jackets</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Bottoms</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Leggings</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Skirts</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Shorts</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Jeans</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Pants & Capris</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Bikini Sets</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Swimwear</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col col-lg-5">
                                            <div class="header-banner2">
                                                <img src="assets/imgs/banner/menu-banner-2.jpg" alt="menu_banner1">
                                                <div class="banne_info">
                                                    <h6>10% Off</h6>
                                                    <h4>New Arrival</h4>
                                                    <a href="#">Shop now</a>
                                                </div>
                                            </div>
                                            <div class="header-banner2">
                                                <img src="assets/imgs/banner/menu-banner-3.jpg" alt="menu_banner2">
                                                <div class="banne_info">
                                                    <h6>15% Off</h6>
                                                    <h4>Hot Deals</h4>
                                                    <a href="#">Shop now</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-children">
                                <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                <div class="dropdown-menu">
                                    <ul class="mega-menu d-lg-flex">
                                        <li class="mega-menu-col col-lg-7">
                                            <ul class="d-lg-flex">
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Jackets & Coats</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Down Jackets</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Parkas</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Faux Leather Coats</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Trench</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Wool & Blends</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Vests & Waistcoats</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Leather Coats</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Suits & Blazers</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Blazers</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Suit Jackets</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Suit Pants</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Suits</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Vests</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Tailor-made Suits</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col col-lg-5">
                                            <div class="header-banner2">
                                                <img src="assets/imgs/banner/menu-banner-4.jpg" alt="menu_banner1">
                                                <div class="banne_info">
                                                    <h6>10% Off</h6>
                                                    <h4>New Arrival</h4>
                                                    <a href="#">Shop now</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-children">
                                <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                <div class="dropdown-menu">
                                    <ul class="mega-menu d-lg-flex">
                                        <li class="mega-menu-col col-lg-7">
                                            <ul class="d-lg-flex">
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Hot & Trending</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Cellphones</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">iPhones</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Refurbished Phones</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone Parts</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Phone Bags & Cases</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Communication Equipments</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Walkie Talkie</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-6">
                                                    <ul>
                                                        <li><span class="submenu-title">Accessories</span></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Screen Protectors</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Wire Chargers</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Wireless Chargers</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Car Chargers</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Power Bank</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Armbands</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Dust Plug</a></li>
                                                        <li><a class="dropdown-item nav-link nav_item" href="#">Signal Boosters</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col col-lg-5">
                                            <div class="header-banner2">
                                                <img src="assets/imgs/banner/menu-banner-5.jpg" alt="menu_banner1">
                                                <div class="banne_info">
                                                    <h6>10% Off</h6>
                                                    <h4>New Arrival</h4>
                                                    <a href="#">Shop now</a>
                                                </div>
                                            </div>
                                            <div class="header-banner2">
                                                <img src="assets/imgs/banner/menu-banner-6.jpg" alt="menu_banner2">
                                                <div class="banne_info">
                                                    <h6>15% Off</h6>
                                                    <h4>Hot Deals</h4>
                                                    <a href="#">Shop now</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Jewelry & Accessories</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            <li>
                                <ul class="more_slide_open" style="display: none;">
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty, Health</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and Shoes</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Consumer Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Automobiles & Motorcycles</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="more_categories">Show more...</div>
                    </div>
                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                    <nav>
                        <ul>
                            <li><a class="active" href="index.html">Home <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="page-about.html">About</a>
                            </li>
                            <li><a href="shop-grid-right.html">Shop <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li><a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                                        <ul class="level-menu">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="position-static"><a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                                <ul class="mega-menu">
                                    <li class="sub-mega-menu sub-mega-menu-width-22">
                                        <a class="menu-title" href="#">Women's Fashion</a>
                                        <ul>
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Wedding Dresses</a></li>
                                            <li><a href="shop-product-right.html">Prom Dresses</a></li>
                                            <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-mega-menu sub-mega-menu-width-22">
                                        <a class="menu-title" href="#">Men's Fashion</a>
                                        <ul>
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                            <li><a href="shop-product-right.html">Casual Pants</a></li>
                                            <li><a href="shop-product-right.html">Sweatpants</a></li>
                                            <li><a href="shop-product-right.html">Harem Pants</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-mega-menu sub-mega-menu-width-22">
                                        <a class="menu-title" href="#">Technology</a>
                                        <ul>
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-mega-menu sub-mega-menu-width-34">
                                        <div class="menu-banner-wrap">
                                            <a href="shop-product-right.html"><img src="assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                            <div class="menu-banner-content">
                                                <h4>Hot deals</h4>
                                                <h3>Don't miss<br> Trending</h3>
                                                <div class="menu-banner-price">
                                                    <span class="new-price text-success">Save to 50%</span>
                                                </div>
                                                <div class="menu-banner-btn">
                                                    <a href="shop-product-right.html">Shop now</a>
                                                </div>
                                            </div>
                                            <div class="menu-banner-discount">
                                                <h3>
                                                    <span>35%</span>
                                                    off
                                                </h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="blog-category-grid.html">Blog <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li><a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                        <ul class="level-menu level-menu-modify">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="page-contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
            </div>
            <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="shop-wishlist.html">
                            <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                            <span class="pro-count white">4</span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="shop-cart.html">
                            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                            <span class="pro-count white">2</span>
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <ul>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                        <h3><span>1 × </span>$800.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                        <h3><span>1 × </span>$3500.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="shopping-cart-footer">
                                <div class="shopping-cart-total">
                                    <h4>Total <span>$383.00</span></h4>
                                </div>
                                <div class="shopping-cart-button">
                                    <a href="shop-cart.html">View cart</a>
                                    <a href="shop-checkout.html">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>